
.msg-enter {
  opacity: 0.2;
}

.msg-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.msg-exit {
  opacity: 0.2;
}

.msg-exit-active {
  opacity: 0.2;
  transition: opacity 1000ms;
}

/*
#msg-off {
  transition: opacity 1000ms;
  opacity: 0.3;
}

#msg-on {
  transition: opacity 3000ms;
  opacity: 1.5;
}
*/