body {
  background: #151616;
}

:root {
  --background-color: #242526;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar {
  height: var(--nav-size);
  background-color: var(--background-color);
  padding: 0 1rem;
  border-bottom: var(--border);
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 500ms;
}

.icon-button:hover {
  filter: brightness(1.5);
}

.icon-button svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.dropdown {
  position: absolute;
  top: 75px;
  width: 210px;
  background-color: var(--background-color);
  transform: translateX(-45%);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
}


.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius);
  padding: 0.3rem;
  height: 60px;
}

.menu-item .icon-button {
  margin-right: 1.5rem;
}

.button-right {
  margin-left: 1.5rem;
}

.menu-item:hover {
  background-color: #525357;
}

.primary-on {
  position: absolute;
  transition: transform 1000ms;
  transform: translateX(0%);
}

.primary-off {
  position: absolute;
  transition: transform 1000ms;
  transform: translateX(140%);
}

.javascript-on {
  position: absolute;
  transition: transform 1000ms;
  transform: translateX(0%);
}

.javascript-off {
  position: absolute;
  transition: transform 1000ms;
  transform: translateX(-110%);
}

.react-on {
  position: absolute;
  transition: transform 1000ms;
  transform: translateX(0%);
}

.react-off {
  position: absolute;
  transition: transform 1000ms;
  transform: translateX(-110%);
}

.node-on {
  position: absolute;
  transition: transform 1000ms;
  transform: translateX(0%);
}

.node-off {
  position: absolute;
  transition: transform 1000ms;
  transform: translateX(-110%);
}