body {
  margin: 0;
}

.top-bar {
  position: fixed;
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: red;
  overflow: hidden;
  z-index: 1;
  opacity: 1;
}

.top-bar-item {
  color: white;
}

.content {
  position: relative;
  top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}