/*
width breakpoints
extra-small: 330
small: 400
medium: 576
*/

:root {
  --topbar-height: 80px;

  --bg-color: #280808;
  --hover-color: #c41010;
}

html, body, #root, main, footer {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background: aliceblue;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Source Sans Pro', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  font: inherit;
  background: none;
  color: inherit;
  border: none;
}