#products-list {
  list-style: none;
  margin: auto;
  width: 500px;
}

#product-element, #loading-element, #ref-element {
  padding: 10px;
  margin: 10px;
  height: 100px;
}

#product-element {
  background-color: aqua;
}

#loading-element {
  background-color: transparent;
  display: table;
  margin: auto;
}