.top-bar-contents {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 1px;
}

#company-logo {
	color: white;
	font-size: 20px;
}


#input-search {
	border-radius: 20px;
	padding: 8px;
	border: 10px;
	width: 275px;
	height: 25px;
	background-color: rgba(235, 235, 235, 1);
}

.sidebar-icon, .login-icon, .cart-icon {
	color: white;
	font-size: 40px;
}

.icon {
	color: blue;
	font-size: 40px;
}